###1. Transform addresses data

#####1.1 Pivot addresses into separate billing and shipping columns

In [0]:
SELECT *
FROM (
  SELECT
    customer_id,
    address_type,
    address_line_1,
    city,
    state,
    postcode
  FROM gizmobox1.bronze.v_addresses)
PIVOT(
  MAX(address_line_1) as address_line_1,
  MAX(city) as city,
  MAX(state) as state,
  MAX(postcode) as postcode
  FOR address_type IN ('shipping', 'billing')
);

###2. Write data into silver layer table

In [0]:
CREATE TABLE gizmobox1.silver.addresses
AS
SELECT *
FROM (
  SELECT
    customer_id,
    address_type,
    address_line_1,
    city,
    state,
    postcode
  FROM gizmobox1.bronze.v_addresses)
PIVOT(
  MAX(address_line_1) as address_line_1,
  MAX(city) as city,
  MAX(state) as state,
  MAX(postcode) as postcode
  FOR address_type IN ('shipping', 'billing')
);

#####2.1 Check the data in created table

In [0]:
SELECT * FROM gizmobox1.silver.addresses;